* {
  /* Used so padding and margins fit in elements defined size */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; margin: 0;
}
 
 
.wrapper {
  font-size: 14px;
  padding: 1.5em 1.5em 0em 1.5em;
  margin: 0 auto;
  width: 95%;
  background-color: white;
}
 
/* Navigation Bar Styling */
 
.nav {
  width: 100%;
  height: 43px;
  background: white;
  /* Used so the menu drop down can be placed absolutely */
  position: relative;
  border: 1px solid #B2BEB5;

}
 
.nav li {
  list-style: none;
  float: left;
  text-align: center;
  width: 12.1%; /* fallback for non-calc() browsers */
  /* Width divided between the 6 items on the bar */
  width: calc(100% / 8.2);
}

 
/* Style links in nav bar */
.nav > li > a {
  color: #536267;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  line-height: 43px;
  padding: 0 20px;
  height: 43px;
  text-transform: uppercase;
}


.nav > li:hover  {
  border-right: 1px solid #B2BEB5;
  border-left: 1px solid #B2BEB5;

}
 
/* On hover show the menu drop down */
.nav > li:hover > div {
  display: block;
}
 
/* Position the menu drop down relative to the nav bar */
/*setting a little less than 100/8 because IE will break to next line*/
.nav > li > div {
  position: absolute;
  /*left: 12.1%;*/
  top: 41px;
 
  /* Don't show unless the nav bar li is hovered */
  display: none;
  background: #fff;
  padding: 10px 10px;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.4);
 
  /* Hide anything that might be outside the div */
  overflow: hidden;
}

/* End of Navigation Bar Styling */
 
/* Drop Down Menu Styling */
 
.nav-main {
  width: 12.1%; /* fallback for non-calc() browsers */
  /* Width divided between the 8 items on the bar */
  width: calc(100% / 8.2);
  border: 1px solid #B2BEB5;
}
 
.nav-divider {
  display: inline-block;
  width: 1.8%;
}
 
.nav-divider-2 {
  display: inline-block;
  width: 3.8%;
}
 
.nav-headlines {
  display: inline-block;
  width: 90%;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding-right: 3px;
}
 
.nav-headline-link {
  border-bottom: 1px solid #B2BEB5;
  padding: 10px 0px;
}

.nav-headline-link > a {
  text-decoration: none;
  color: #536267;
}

.nav-headline-link > a:hover {
  text-decoration: none;
  color: #5c9ead;
}
 
.nav-headline-link:last-child {
  border-width: 0px;
}
 
 
/* End of Drop Down Menu Styling */