body{
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  font-size: 14px;
}

h1{
  color: #326273;
  font-size: 18px;
  padding: 20px 0px 15px 0px;
}

h2{
  color: #5c9ead;
  font-size: 16px;
  padding: 15px 0px 15px 0px;
}

h3{
  color: #006699;
  font-size: 14px;
  padding: 15px 0px 15px 0px;
}

p{
  font-size: 14px;
  padding-bottom: 10px;
}
ul, ol{
  font-size: 14px;
  margin-left: 15px;
  padding: 10px 0px 10px 0px;
}
.main{
  padding: 2em;
  margin:auto;
  width: 95%;
  background-color: #ffffff;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
  vertical-align: top;
}

  th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #E39774;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

a, ul > li> a {
  text-decoration: none;
  color: #5899e2;
}

a:hover, ul > li> a:hover {
  text-decoration: none;
  color: #4c2c69;
}

.attention {
  font-weight: bold;
}

.screen_clip {
  font-style: italic;
  color: #ff6f59;
  padding: 0px 0px 10px 0px;
}