body{
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  font-size: 14px;
}

h1{
  color: #4ec5c1;
  font-size: 18px;
  padding: 20px 0px 15px 0px;
}

h2{
  color: #5c9ead;
  font-size: 16px;
  padding: 15px 0px 15px 0px;
}

h3{
  color: #326273;
  font-size: 14px;
  padding: 15px 0px 15px 0px;
}

p{
  font-size: 14px;
  padding-bottom: 10px;
}

ul, ol{
  font-size: 14px;
  margin-left: 15px;
}

li {
  padding: 0px 0px 5px 0px;
}
.process_flow_image{
  display: block;
    margin-left: auto;
    margin-right: auto;
    border:'0';

}
.main{
  padding: 1em 2em 0em 2em;
  margin:0 auto;
  width: 95%;
  background-color: #ffffff;
}

table {
  font-family: "PT Sans", sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
  vertical-align: top;
}

  th {
  border: 2px solid #e7e7c5;
  text-align: left;
  padding: 4px;
  background-color: #e5e338;
  color: black;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

a, ul > li> a {
  text-decoration: none;
  color: #5c9ead;
}

a:hover, ul > li> a:hover {
  text-decoration: none;
  color: #4ec5c1;
}

.attention {
  font-weight: bold;
}

.screen_clip {
  font-style: italic;
  color: #ec576b;
  padding: 0px 0px 10px 0px;
}

.codified {
  font-family: 'Courier New', Courier, monospace;
}

.italic{
  font-style: italic;
}