body{
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  /* Used so 1.6 em = 16pts */
  font-size: 62.5%;
}


#main{
  transition:margin-left 0.5s;
  padding:20px;
  width:100%;
  background-color: #ffffff;
}

